<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hp.main">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="EverythingCollege"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".ui.SplashScreen"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.topHundredActivity"
            android:label="Top100"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.searchActivity"
            android:label="Search A College"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.examsActivity"
            android:label="Entrance Exams"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.eligibilityActivity"
            android:label="Eligiblity"
            android:parentActivityName=".ui.MainActivity" />
        <activity android:name=".adapters.elgibilityAdapter" />
        <activity
            android:name=".ui.scholarshipActivity"
            android:label="Scholarships"
            android:parentActivityName=".ui.MainActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.stateActivity" />
        <activity android:name=".states_intro" />
        <activity
            android:name=".SearchResult"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.Navigation"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.Form"></activity>
    </application>

</manifest>